# OmNexus Core API - Environment Variables

# Resend API Key (for emails)
RESEND_API_KEY=re_QfqontqU_EFMw8kQg5voYeGkVN5ENJqvn

# Supabase Configuration
SUPABASE_URL=https://zkdrrwodhaohytygbqdd.supabase.co
SUPABASE_KEY=sb_publishable_OtZS_jcfzD-zDCgbYAbdMw__jl47mkO

# Email Settings
FROM_EMAIL=onboarding@resend.dev  # Geliştirme aşamasında bu kalsın

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23libI6kwYKCuCbcoM
GITHUB_CLIENT_SECRET=072ec29e2182ed4c07ab5fe9f22109b93256a7f9
GITHUB_REDIRECT_URI=https://straxon-qart.vercel.app/api/v1/straxon/auth/github/callback
BASE_URL=https://straxon-qart.vercel.app
FRONTEND_URL=https://straxon-qart.vercel.app
